/*-------------Select Option At The Create account page -------------------*/

#selectquestion {
    background-color: white;
    border: 1px solid #555;
    outline-color: #FD9F3E;
    width: 96%;
    font-size: 1em;
    padding: 0.5em;
}