/*------------NAVBAR DIVIDER AND HEADER-----------------*/

.sidebar-divider {
    border-top: 1px solid black;
    margin: 0 1rem 1rem;
}

.sidebar-heading {
    text-transform: uppercase !important;
    text-align: center;
    padding: 0 1rem;
    font-weight: 800;
    font-size: 0.65rem;
    text-align: left;
    color: cadetblue;
}


/*----------ADD PRODUCT PAGE BUTTON--------------------------*/

#button-addon1 {
    background-color: #5E72E4 !important;
    color: white !important;
}

.dimension {
    width: 180px !important;
}

label.error {
    color: red;
    font-size: 10px;
    display: block;
    margin-top: 5px;
}

input.error {
    border: 1px solid red;
    font-weight: 300;
    color: red;
}

input.valid.success-alert {
    border: 1px solid #4CAF50;
    color: green;
}